:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --dark-logo-color: #000000;
  --border-color: #eeeeee;
  --additional-accent-color: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link,
.logo {
  text-decoration: none;
}

.button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* Nav Bar */

.web-logo {
  color: var(--accent-color);
}

.nav-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--dark-logo-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-logo:hover,
.footer-logo:hover {
  color: var(--accent-color);
}

.nav-link {
  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Contacts */

.contacts-link {
  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Title */

.hero {
  background-color: var(--dark-background-color);
}

.hero-title {
  color: var(--primary-background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-weight: 700;
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-button:hover {
  background-color: var(--additional-accent-color);
}

/* Features +  Description */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Team */

.team {
  background-color: var(--light-background-color);
}

.team-element {
  background-color: var(--primary-background-color);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  background-color: var(--dark-background-color);
}

.footer-logo {
  color: var(--primary-background-color);
}

.address {
  color: var(--primary-background-color);
}

.contact {
  color: #ffffff99;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* Styles for portfolio.html */

/* Filter */

.filter-button {
  background-color: var(--light-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

/* Examples */

.examples-element {
  border: solid 1px;
  border-color: var(--border-color);
}

.examples-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
